#layout {
    display: flex;
    align-items: flex-start;
}

/* Preview column */
#preview {
    padding-right: 20px;
    border-right: 3px solid #444;
    flex: 0 0 auto;
}

/* Details column */

#controls-wrapper button {
    margin-top: 20px;
}

.cost-row {
    display: flex;
    gap: 10px;
}

#controls input,
#controls textarea,
#controls select {
    width: 100%;
}

/* Cards column */
#cardBox-wrapper button {
    margin-top: 20px;
}

/* Decks column */


#deckdBox-wrapper button {
    margin-top: 20px;
}

/* Other */

.column{
    padding: 0 20px;
    border-right: 3px solid #444;
    flex: 0 0 300px;
    padding-top: 20px;
}

column button {
    margin-top: 20px;
}


.selected {
    font-weight: bold;
}

.selectionBox>div:nth-child(odd) {
    background: #cfcfcf;
}

.selectionBox>div:nth-child(even) {
    background: #ffffff;
}

.selectionBox>div:first-child {
    margin-top: 10px;
}

.selectionBox>div {
    padding: 8px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    cursor: pointer;
}


