#layout {
    display: flex;
    align-items: flex-start;
}

/* Preview column */
#preview {
    padding-right: 20px;
    border-right: 3px solid #444;
    flex: 0 0 auto;
}

/* Details column */
#controls-wrapper {
    padding: 0 20px;
    border-right: 3px solid #444;
    flex: 0 0 300px;
    padding-top: 20px;
}

#controls-wrapper button {
    margin-top: 20px;
}

.cost-row {
    display: flex;
    gap: 10px;
}

#controls input,
#controls textarea,
#controls select {
    width: 100%;
}

/* Cards column */
#cardBox>div:nth-child(odd) {
    background: #cfcfcf;
}

#cardBox>div:nth-child(even) {
    background: #ffffff;
}

#cardBox>div:first-child {
    margin-top: 10px;
}

#cardBox-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 3px solid #444;
}

#cardBox-wrapper button {
    margin-top: 20px;
}

#cardBox>div {
    padding: 8px;
    border-radius: 4px;
    width: 300px;
    cursor: pointer;
}

.saved-card.selected {
    font-weight: bold;
    background: #e4c9c9; /* optional highlight */
}

/* Decks column */
#deckBox>div:nth-child(odd) {
    background: #cfcfcf;
}

#deckBox>div:nth-child(even) {
    background: #ffffff;
}

#deckBox>div:first-child {
    margin-top: 10px;
}

#deckdBox-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 3px solid #444;
}


#deckdBox-wrapper button {
    margin-top: 20px;
}


#deckBox>div {
    padding: 8px;
    border-radius: 4px;
    border-right: 3px solid #444;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    cursor: pointer;
}

.saved-deck.selected {
    font-weight: bold;
}

#cardListBox>div:nth-child(odd) {
    background: #cfcfcf;
}

#cardListBox>div:nth-child(even) {
    background: #ffffff;
}

#cardListBox>div:first-child {
    margin-top: 10px;
}

#cardListBox>div {
    padding: 8px;
    border-radius: 4px;
    border-right: 3px solid #444;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    cursor: pointer;
}

.saved-card.selected {
    font-weight: bold;
    background: #e4c9c9; /* optional highlight */
}

