/* Night Mode */
:root {
    --bg: #ffffff;
    --text: #000000;
    --row-odd: #c9c9c9;
    --row-even: #dfdfdf;
    --border-line: #444;
}

.dark {
    --bg: #111111;
    --text: #eeeeee;
    --row-odd: #313131;
    --row-even: #464646;
    --border-line: #a7a7a7;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

input,
button,
textarea {
    background: var(--bg);
    color: var(--text);
    border: 1px solid var(--text);
}

input::placeholder {
    color: var(--text);
    opacity: 0.6;
}

button {
    border: 1px solid var(--text);
    background: var(--bg);
    color: var(--text);
}

#layout {
    display: flex;
    align-items: flex-start;
}

/* Title */

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row h1 {
    margin: 0; 
}


/* Preview column */
#preview {
    padding-right: 20px;
    border-right: 3px solid #444;
    flex: 0 0 auto;
}

/* Details column */

#controls-wrapper button {
    margin-top: 20px;
}

.cost-row {
    display: flex;
    gap: 10px;
}

#controls input,
#controls textarea,
#controls select {
    width: 100%;
}

/* Cards column */
#cardBox-wrapper button {
    margin-top: 20px;
}

/* Decks column */


#deckdBox-wrapper button {
    margin-top: 20px;
}

/* Other */

.column {
    padding: 0 20px;
    border-right: 3px solid var(--border-line);
    flex: 0 0 300px;
    padding-top: 20px;
}

column button {
    margin-top: 20px;
}


.selected {
    font-weight: bold;
}

.selectionBox > div:nth-child(odd) {
    background: var(--row-odd);
}

.selectionBox > div:nth-child(even) {
    background: var(--row-even);
}

.selectionBox>div:first-child {
    margin-top: 10px;
}

.selectionBox>div {
    padding: 8px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    cursor: pointer;
}