/* Button Effects */

button {
    border: 1px solid var(--text);
    background: var(--bg);
    color: var(--text);
    transition: background 0.15s ease, transform 0.1s ease, box-shadow 0.15s ease;
}

button:hover {
    background: var(--hover) !important;
}

button:active {
    transform: scale(0.94);
}

/* Title */

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row h1 {
    margin: 0;
}


/* Preview column */
#preview {
    padding-right: 20px;
    border-right: 3px solid #444;
    flex: 0 0 auto;
}

/* Details column */
.cost-row {
    display: flex;
    gap: 10px;
}

.cost-row label {
    flex: 1;
    /* all labels grow equally */
}

#controls input,
#controls textarea,
#controls select {
    width: 100%;
}

/* Deck Details column */
.cost-bar {
    background: #4a90e2;
    color: white;
    padding: 4px;
    margin: 3px 0;
}


/* Selection Box */

.selected {
    font-weight: bold;
}

.selectionBox>div:nth-child(odd) {
    background: var(--row-odd);
}

.selectionBox>div:nth-child(even) {
    background: var(--row-even);
}

.selectionBox>div:first-child {
    margin-top: 10px;
}

.selectionBox>div {
    padding: 8px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
    cursor: pointer;
}

/* Other */
.column {
    padding: 0 20px;
    border-right: 3px solid var(--border-line);
    flex: 0 0 300px;
}

#layout {
    display: flex;
    align-items: stretch;
}

/* Night Mode */
:root {
    --bg: #ffffff;
    --text: #000000;
    --row-odd: #c9c9c9;
    --row-even: #dfdfdf;
    --border-line: #444;
    --hover: #e2e2e2;
}

.dark {
    --bg: #111111;
    --text: #eeeeee;
    --row-odd: #313131;
    --row-even: #464646;
    --border-line: #a7a7a7;
    --hover: #505050;
}

input,
button,
textarea,
select {
    background: var(--bg);
    color: var(--text);
    border: 1px solid var(--text);
}

input::placeholder {
    color: var(--text);
    opacity: 0.6;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

#storage-wrapper textarea {
    width: 100%;
    box-sizing: border-box;
}

.same-line {
    display: flex;
    gap: 1rem;
    align-items: center;
}

* {
    margin-bottom: 5px;
}